
/*================= hover block button showemote popu ===================*/
#emote-selection-popup .close-emote-popup-button {
  position: fixed !important;
    top: 0px !important;
    right: 20px !important;
    cursor: pointer !important;
    color: rgb(85, 255, 161) !important;
    font-weight: bold !important;
    user-select: none !important;
    display: flex  !important;
    justify-content: center  !important;
} 
 .emote-options {
    position: relative !important; 
    top: 8px !important; 
    width: 205px !important; 
} 



button.block-button:hover {
     background: rgb(19 71 49 / 66%) !important;  
       color: rgb(204 236 230 / 90%) !important;  
       border: solid 2px #9ad3b9 !important;   
       border-radius: 11px !important;  
       cursor: pointer !important;  
       font-size: 15px !important;  
}
button.block-button {
    color: #97d1ac !important;
}
/*================= hover block button showemote popu ===================*/


/*================= hover button.copy-all-button:hover ===================*/

button.copy-all-button:hover {
    background: #3dd1e157 !important;
}
 

.send-to-chat-button:hover {
       background: rgb(19 71 49 / 66%) !important;  
       color: rgb(204 236 230 / 90%) !important;  
       border: solid 2px #9ad3b9 !important;   
       border-radius: 11px !important;  
       cursor: pointer !important;  
       font-size: 15px !important;   
}

.paste-all-button:hover {
       background: rgb(19 71 49 / 66%) !important;  
       color: rgb(204 236 230 / 90%) !important;  
       border: solid 2px #9ad3b9 !important;   
       border-radius: 11px !important;  
       cursor: pointer !important;  
       font-size: 15px !important;   
}
/*================= hover button.copy-all-button:hover ===================*/