/* --------------- amberBlaze.css --------------- */



#add-button ,
#settings-button ,
#search-button ,
#close-modal-settings-button ,
#unblock-all-button, #block-all-button,
.button-container button { 
    border: 1px solid #ffb24d !important;
}

#close-modal-settings-button {
     background: #592200!important;
     color: #ffb24d!important;
}

.ios-switch input:checked + .slider {
    background: #d7951d!important;
}
 
.ios-switch .slider:before {
    background: #693a00!important;
}

.modal-content {
    background: linear-gradient(357deg, #592200 0%, rgb(255, 140, 0) 100%)!important;
    border-width: 1px!important;
    border-style: solid!important;
    border-color: #ffb24d!important;
    border-image: initial!important;
}
.notification-setting ,
h3#settings-title{
 color: #592200!important;
}
 

#control-7btvfz-center-x78x05x46-panel {
    background:  linear-gradient(265deg, rgb(89, 34, 0) 0%, rgb(255, 140, 0) 100%)!important;
    border: 1px solid rgb(255, 152, 0)!important;
    box-shadow: #995b0059 0px 18px 20px 0px!important;
    color: rgb(255, 243, 224)!important;
}

#sortContainer ,
#sort-chatbanned-items-container button {
    color: #ffd18b!important;
}

.version-label {
    color: #662a00!important;
}

.title {
    color: #FF9800!important;
}

.hue-rotate-container label{    
    color: #662a00!important;
}

#blocked-emotes-list,#banned-chat-list {
    color: rgb(255, 204, 188)!important;
    border: 1px solid rgb(255, 171, 64)!important;
    background: linear-gradient(rgb(17, 86, 59) 0%, rgb(61, 43, 21) 100%)!important;
    box-shadow: rgba(0, 0, 0, 0.85) -18px 69px 40px 0px inset!important;
}

.list::-webkit-scrollbar-thumb {
    background-color: rgb(255, 171, 64)!important;
    border: 3px solid rgb(230, 81, 0)!important;
}

.list::-webkit-scrollbar-track {
    background: rgb(230, 81, 0)!important;
}

.blocked-item:hover {
    background-color: rgba(255, 171, 64, 0.5)!important;
    color: rgb(255, 243, 224)!important;
}

.new-item {
    background-color: rgba(255, 193, 7, 0.6)!important;
    color: rgb(255, 243, 224)!important;
}

li.blocked-item {
    border-top: solid rgb(230, 81, 0)!important;
}

.blocked-item span {
    color: rgb(255, 243, 224)!important;
}

.blocked-item a {
    color: rgb(255, 224, 130)!important;
}

.blocked-item .date {
    color: rgb(255, 204, 188)!important;
}

.delete-button {
    background: rgb(62, 28, 0)!important;
    color: rgb(255, 243, 224)!important;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 8px!important;
}

.delete-button:hover {
    background: linear-gradient(135deg, rgb(255, 138, 0) 0%, rgb(179, 60, 0) 56%, rgb(255, 167, 64) 98%, rgb(255, 202, 127) 100%)!important;
}

#search-input {
    background: rgb(102 42 0)!important;
    color: rgb(255, 243, 224)!important;
    border: 1px solid rgb(255, 171, 64)!important;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 6px inset!important;
}

#search-input:focus {
    border-color: rgb(255, 202, 40)!important;
}

#search-button ,
#settings-button {
    background: rgb(255, 140, 0)!important;
    color: rgb(62, 28, 0)!important;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 8px!important;
}

#add-button:hover,
#settings-button:hover,
#search-button:hover {
    background: rgb(255, 171, 64)!important;
}

.input-container #platform-select {
    background: rgb(102 42 0)!important;
    color: rgb(255 140 0)!important;
    border: 1px solid rgb(255, 171, 64)!important;
}

#platform-select:focus {
    border-color: rgb(255, 202, 40)!important;
}

#add-input {
    background: #662a00!important;
    border: 1px solid rgb(255, 171, 64)!important;
}

#add-input:focus {
    border-color: rgb(255, 202, 40)!important;
}

#add-button  {
    background: rgb(255, 140, 0)!important;
    color: rgb(62, 28, 0)!important;
    border: 1px solid rgb(255, 171, 64)!important;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 8px!important;
}

 button#blocked-emotes-list-button {
     color: rgb(62, 28, 0)!important;
}

button#banned-chat-list-button {
    color: rgb(62, 28, 0)!important;
}


.button-container button {
    background: rgb(255, 140, 0) ;
    color: rgb(62, 28, 0)!important;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 8px!important;
}

.button-container button:hover {
    background: rgb(255, 171, 64)!important;
}

.button-container {
    background: linear-gradient(rgba(0, 0, 0, 0.54), transparent)!important;
    border: 1px solid rgb(255, 171, 64)!important;
}

#theme-select {
    background: rgb(101 42 0)!important;
    color: rgb(255 140 0)!important;
    border: 1px solid rgb(255, 171, 64)!important;
}

#theme-select:focus {
    border-color: rgb(255, 202, 40)!important;
}

#chart-modal {
    background: rgba(0, 0, 0, 0.75)!important;
}

.chart-container {
    background: rgb(97, 43, 0)!important;
    border: 2px solid rgb(255, 152, 0)!important;
    color: rgb(255, 243, 224)!important;
}

#close-chart-button {
    background: rgb(255, 140, 0)!important;
    color: rgb(62, 28, 0)!important;
}

#close-chart-button:hover {
    background: rgb(255, 171, 64)!important;
}

#sortContainer ,
#sort-chatbanned-items-container {
    background-color: rgb(148 83 18)!important;
    border: 1px solid rgb(255, 171, 64)!important;
    color: #FFC107!important;
}

#counter {
    background-color: rgb(113 55 0)!important;
    color: #FFC107!important;
    border: 3px solid #FF9800!important;
}

#unblock-all-button, #block-all-button {
    background: rgb(255, 140, 0)!important;
    color: rgb(62, 28, 0)!important;
}

#unblock-all-button.active, #block-all-button.active {
    background: rgb(27, 99, 51)!important;
}

#unblock-all-button:hover, #block-all-button:hover {
    background: rgb(255, 171, 64)!important;
}

#open-panel-container {
    background: rgb(224, 120, 0)!important;
    border: 1px solid rgb(62, 28, 0)!important;
    box-shadow: rgba(255, 171, 64, 0.34) 0px 4px 6px!important;
}

#open-panel-container:hover {
    background: rgba(160, 104, 30, 0.965)!important;
}

#open-panel-label {
    color: rgb(62, 28, 0)!important;
}

#open-panel-button {
    background-color: rgb(129, 82, 23)!important;
}

#open-panel-button::before {
    background-color: rgb(62, 28, 0)!important;
    transition: transform 0.3s!important;
    box-shadow: rgba(214, 128, 47, 0.56) 0px 1px 3px!important;
}

#open-panel-button.active {
    background-color: rgb(209, 161, 100)!important;
}

#close-panel-button {
    color: #5f2700!important;
}

#toggle-logging-button {
    background: #ff8c00!important;
    color: #3e1c00!important;
}

/* --------------- Modal selection  type import / export data --------------------------- */

.data-selection-modal-button {
    background: #3e1c00!important;
    border: 1px solid #ff8c00!important; 
}

.data-selection-modal-options {
    color: #ff8c00!important;
}

.data-selection-modal-content h3 {
    color: #ff8c00!important;
}