/*-------- twitch_main_Styles_but_Better.css ---------*/

/*--------- Twitch Main color button -------------- */ 

/*---chat-room фон чата -----*/
 .tw-root--theme-dark .clmgr-table__row, .tw-root--theme-dark .sunlight-expanded-nav-drop-down-menu-layout__scrollable-area, .tw-root--theme-dark .stream-manager--page-view .mosaic-window-body, .tw-root--theme-dark .emote-grid-section__header-title, .tw-root--theme-dark .ach-card, .tw-root--theme-dark .ach-card--expanded .ach-card__inner, .tw-root--theme-dark .room-upsell, .tw-root--theme-dark .chat-room, .tw-root--theme-dark .video-chat, .tw-root--theme-dark .qa-vod-chat, .tw-root--theme-dark .extensions-popover-view-layout, .tw-root--theme-dark .modview-dock-widget__preview__body>div, .tw-root--theme-dark .carousel-metadata, .tw-root--theme-dark .video-card, html .clmgr-table__row, html .sunlight-expanded-nav-drop-down-menu-layout__scrollable-area, html .stream-manager--page-view .mosaic-window-body, html .emote-grid-section__header-title, html .ach-card, html .ach-card--expanded .ach-card__inner, html .room-upsell, html .chat-room, html .video-chat, html .qa-vod-chat, html .extensions-popover-view-layout, html .modview-dock-widget__preview__body>div, html .carousel-metadata, html .video-card {
   background: #0b1617 !important;
}
/*---chat-room фон чата -----*/ 

button.ScCoreButton-sc-ocjdkq-0 {
    border: 1px solid  rgb(155 220 173 / 50%) !important;
    border-radius: 35px !important;
    color: rgb(155 220 173) !important;
    background: #152b2c !important;
}

button.ScCoreButton-sc-ocjdkq-0:hover {
    border: 1px solid  rgb(155 220 173 / 50%) !important;
    border-radius: 35px !important;
    color:  rgb(208 211 179) !important;
    background: #041213 !important;
} 

a.ScCoreButton-sc-ocjdkq-0  {
   border: 1px solid  rgb(155 220 173 / 50%) !important;
    border-radius: 35px !important;
    color: rgb(155 220 173) !important;
    background: #152b2c !important;
}

 

a.ScCoreButton-sc-ocjdkq-0:hover {
    border: 1px solid  rgb(208 211 179) !important;
    border-radius: 35px !important;
    color:  rgb(208 211 179) !important;
    background: #041213 !important;
} 

/*--------- Twitch "show less/more" text color button -------------- */ 

span.CoreText-sc-1txzju1-0.fomEUL {
    color: rgb(155 220 173) !important;
}

.Layout-sc-1xcs6mc-0.ljigeK {
    color: #c3becb !important;
}
 

span.ScAnimatedNumber-sc-1iib0w9-0 {
    color: rgb(155 220 173) !important;
}

.Layout-sc-1xcs6mc-0.lghjmR {
    color: rgb(155 220 173) !important;
}

 

 span.ScAnimatedNumber-sc-1iib0w9-0 {
    color: rgb(155 220 173) !important;
}

.Layout-sc-1xcs6mc-0.lghjmR {
    color: rgb(155 220 173) !important;
}

p.CoreText-sc-1txzju1-0.ScTitleText-sc-d9mj2s-0.bqyYtA.lbYztg.InjectLayout-sc-1i43xsx-0.irzZLq.tw-title {
    span.ScAnimatedNumber-sc-1iib0w9-0 {
    color: rgb(155 220 173) !important;
}

.Layout-sc-1xcs6mc-0.lghjmR {
    color: rgb(155 220 173) !important;
  } 
}

span.CoreText-sc-1txzju1-0.iYHgOf {
    color: rgb(165 181 169) !important;
}

strong.CoreText-sc-1txzju1-0.iYHgOf {
    color: #a893c8 !important;
}

.ButtonIconFigure-sc-1emm8lf-0.lnTwMD {
    color: rgb(155 220 173) !important;
}

 
svg {
    color: rgb(155 220 173) !important;
} 

.side-nav__overlay-wrapper {
    background: linear-gradient(180deg, rgb(36, 20, 46), rgb(11, 39, 40)) !important;
}
 

.channel-info-content {
    background: linear-gradient(180deg, rgb(36, 20, 46), rgb(11, 39, 40)) !important;
}
 
div#community-tab-content {
    background: linear-gradient(0deg, rgb(36, 20, 46), rgb(11, 39, 40)) !important;
}

.ScRangeFillContainer-sc-q01wc3-2.diueRz {
    background: #8768b4 !important;
}

 
.ScRangeFillValue-sc-q01wc3-3.isXtHy {
    background: #69be80 !important;
}
 
a.ScCoreButton-sc-ocjdkq-0.kJMgAB {
    color: rgb(155, 220, 173) !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgba(155, 220, 173, 0.5) !important;
    border-image: initial !important;
    border-radius: 35px !important;
    background: rgb(24 44 59) !important;
}

.tw-root--theme-dark .side-nav-card__link:hover {
     background-color: rgb(49 80 44) !important;
     border: 2px solid #cdb4e2 !important;
     color: #cdb4e2 !important;
     border-radius: 25px  !important;
}
/*----------------------  Ш И Р И Н А CHAT-LIST --------------------------*/
/*----------------------  СОКРЩАЕМ ШИРИНУ ЧАТ КОНТЕЙНЕРА --------------------------*/

/* .chat-list--default {
    width: 350px  !important;
    max-width: 360px !important;
} 

/*----------------------  СОКРЩАЕМ ШИРИНУ ЧАТ КОНТЕЙНЕРА --------------------------*/
/*----------------------  Ш И Р И Н А CHAT-LIST --------------------------*/

.scrollable-area::-webkit-scrollbar  {
    width: 0px !important; 
} 



/*-------------- video player-settings ------------------*/
 
.Layout-sc-1xcs6mc-0.dUABLR {
    background: #0e1a1a !important;
    border: 1px solid  !important;
    border-radius: 6px !important;
    color: #7cc5a8 !important;
}

  

button.ScInteractableBase-sc-ofisyf-0:hover {
   background: #261c38 !important;
    border: 1px solid  !important;
    border-radius: 6px !important;
    color: #7cc5a8 !important;
}
/*-------------- video player-settings ------------------*/

